<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div id="main_div">
        <h1>Dojo Survey</h1>
        <form id="form_one" action="/process" method="post">    
            <label for="name">Name:</label>
            <input type="text" name="name" id="">
            <label for="dojo">Dojo Location:</label>
            <select name="dojo" id="">
                <option disabled selected value >--Select A Location--</option>
                <option value="Miami">Miami</option>
                <option value="Orlando">Orlando</option>
                <option value="Tampa">Tampa</option>
            </select>
            <label for="lang">Favorite Language:</label>
            <select name="lang" id="">
                <option disabled selected value >--Select A Language--</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Java">Java</option>
                <option value="Html/CSS">Html/CSS</option>
            </select>
            <label for="comment">Comment (optional):</label>
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
        
    </div>
</body>
</html>