<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>
</head>
<body>
    <h2>Would you like to be my friend?</h2>
    <form action="/create_friend" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation">
        <button>Become my friend</button>
    </form>
    <h1>These are my friends</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Occupation</th>
            </tr>
        </thead>
        <tbody>
                {% for friend in friends %}
                <tr>
                    <td>{{friend.first_name}}</td>
                    <td>{{friend.last_name}}</td>
                    <td>{{friend.occupation}}</td>
                </tr>
                {%endfor%}
        </tbody>
    </table>
</body>
</html>