<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Making lists and tables here boi!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="boxes">
        <h1>Adding loops in a bit</h1>
    </div>
    <div id="some_text">
        <a href="/lists"><h2>Takes us to our next page</h2></a>
    </div>
</body>
</html>