*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}  

#boxes{
    border: 3px solid white;
    padding: 30px;
    border-radius: 100px;
}

#some_text{
    padding: 32px;
}

a{

    padding: 5px;
    color: white;
    text-decoration: none;
   
}

a:hover{
    color: blueviolet;
}