<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>{{dojo.name}}'s Ninjas</h1>
    {% if dojo.ninja_list[0].id == none %}
    <p>No Ninjas have joined yet</p>
    {%else%}
    <table>
        <thead>
            <tr>
                <th>First Name| </th>
                <th>Last Name| </th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in dojo.ninja_list %}
                <tr>
                    <td>{{ninja.first_name}}</td>
                    <td>{{ninja.last_name}}</td>
                    <td>{{ninja.age}}</td>
                </tr>
            {%endfor%}
            {%endif%}
        </tbody>
    </table>
    <div class="anchor">
        <a href="/dojos">Home</a>
    </div>
</body>
</html>